body {
    box-sizing: border-box;
    font-family: "Roboto";
    background-color: #EEF9BF;
}

.navbar {

    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;

}
.navbar h1{
    font-weight: 700;
    color: #75B79E;
    width: 100%;
    text-align: center;
    word-break: break-all;
    font-size: 56px;
}
.cards{
    padding-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 10%;
}

.card{
    width: 120px;
    height: 150px;
    position: relative;
    margin: 0px 17.5px 35px 17.5px;

}
.card img{
    width: 100px;
    height: 100px;
}
.face{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #99CEA8;
    border-radius: 5px; 
    padding: 25px 10px;
    background-color: #A7E9AF;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.card:hover{
    cursor:pointer;
}
.back-face {
    transform: rotateY(180deg);
}

.aparece{
    transform: rotateY(0deg);
}

.esconde{
    transform: rotateY(-180deg);
}

.temporizador{
    display: flex;
    color: white;
    text-align: center;
    font-size: 32px;    
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 650px) {
    .navbar h1{
        font-size: 36px;
    }
    .temporizador{
        position: fixed;
    }
    .cards{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    
}